<form method="post" action="/das-api/inventory/upload" enctype="multipart/form-data">
 <div>
   <label for="file">Choose file to upload</label>
   <input type="file" id="file" name="file">
   <input type="hidden" name="user" value="inventoryTestUser" />
 </div>
 <div>
   <button>Submit</button>
 </div>
</form>